/* Contents */
/* Main */
    /* Blockquote*/
    /* Activity lists */

/* Main--------------------------------------------------------------- */

/* blockquote */

.quote {
    margin-top: 25%;
    text-align: center;
}

@media (min-width: 30em) {
    .quote {
        margin-top: 10%;
    }
}

/* activity lists */

.activity-list h2 {
    text-align: center;
}

.activity-list .tab-list {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.activity-item {
    width: 30rem;
    min-height: 20rem;
    border: 2px solid #2154a4;
    margin: 1rem;
}

@media (min-width: 30em) {
    .activity-item {
        box-shadow: .5rem .5rem .5rem;
    }

    .activity-item:hover {
        box-shadow: 1rem 1rem 1rem;
    }
}



.activity-item h3 {
    text-align: center;
}

.activity-item p {
    margin: 1rem;
}